body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #222;
  font-family: arial,sans-serif;
  text-align:center;
}

.header {
  padding: 10px 30px;
  float: right;
  display:block;
  line-height: 24px;
}

.header-icon {
    padding-left:5px;
    padding-right:15px;
    vertical-align: middle;
    opacity: .75;
}

img {
		vertical-align: middle;
}

.btn {
  display: inline-block;
  line-height: 28px;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  padding: 0 12px;
  border-radius: 2px;
  border: 1px solid #4285f4;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

#myCanvas {
}

.searchbox {
    padding:20px 10px 20px 10px;
}

.searchbox_form {
    margin-left:auto;
    margin-right:auto;
}

.searchbox_input {
    width: 584px;
    border: 1px solid #d9d9d9;
    background-size:24px 24px;
    background-image:url('../images/mic.png');
    background-position: 99% ;
    background-repeat:no-repeat;
    height: 38px;
    margin: -1px 0px 1px;
    background-color: #fff;
}

.searchbox_input:hover {
    border: 1px solid #888;
}
.searchbox_input:focus {
    border: 1px solid #06f;
}

.buttons {
    padding-top:18px;
}

.searchbox_button {
    background-color: #f2f2f2;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    border:1px solid #f2f2f2;
    border-radius: 2px;
    padding:0 16px;
    text-decoration:none;
    margin:11px 4px:    
    min-width: 54px;
    height: 36px;
    color: #757575;
    font-weight: bold;
}

.searchbox_button:hover {
    color:#222;
    border: 1px solid #c6c6c6;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1)
}
 
/*a:visited {
    color: #609;
}*/

.footer {
    margin:0;
    display:block;
    text-align:left;
    background-color:#f2f2f2;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    min-width: 980px;
    height: 40px;
}

.footer-item {
    padding-left:27px;
}

.footer-item>a{
    color: #666;
}

.footer_left {
    float:left;
}

.footer_right {
    float:right;
    padding-right:27px;
}
  
